{% extends "layout.html" %}

{% block title %}
   Add to Network
{% endblock %}

{% block main %}

        <div class="jumbotron" style="background-color: #02093B; color: #537fbe;">
            <h1>Add Your Info</h1>
        </div>
        <div class="container">
            <div class="section">

                <h5>Skip this step if you've already completed this form</h5><br>
                <form action ="/add_info" method ="post">
                    <input autcomplete = "off" autofocus name = "name" placeholder = "Name" type = "text">
                    <select name="cohort">
                        <option value="">Cohort</option>
                        {% for cohort in cohorts %}
                        <option value ="{{ cohort }}">{{ cohort }}</option>
                        {% endfor %}
                    </select>
                    <input autcomplete = "off" autofocus name = "hometown" placeholder = "Hometown" type = "text">
                    <input autcomplete = "off" autofocus name = "past_industry" placeholder = "Past Industry" type = "text">
                    <input autcomplete = "off" autofocus name = "goal_industry" placeholder = "Goal Industry" type = "text">
                    <input type="submit" value="Submit">
                </form>
                <br>
            </div>
            <br><br>
            <footer class="small text-center text-muted">
                &#169; 2020 NetLearn. All Rights Reserved.
                <br>
                Lindsay Bader, Silvia Diaz-Roa, Edward Kusell-Zigelman
            </footer>

{% endblock %}