{% extends "layout.html" %}

{% block title %}
   Quiz
{% endblock %}

{% block main %}

        <div class="jumbotron">
            <h1>Quiz Time!</h1>
        </div>

        <div class="container">
                <h5>Name</h5>
                <h7>{{person.name}}</h7><br>
                <hr>
                <input type="text" id="cohort" placeholder="cohort" name="{{person.cohort}}"></input>
                <input type="text" id="hometown" placeholder="hometown" name="{{person.hometown}}"></input>
                <input type="text" id="past" placeholder="past industry" name="{{person.past_industry}}"></input>
                <input type="text" id="goal" placeholder="goal industry" name="{{person.goal_industry}}"></input><br><br>
                <button id="check">Check Answer</button>
                <button id="AnswerButton">Display Answer</button>
                <button id="New" onclick="location.href = '/quiz';">New</button>
                <button id="Done" onclick="location.href = '/';">Done</button><br><br>

                <table  id="AnswerTable" style="display:none" width="100%">
                    <thead>
                        <tr align="center">
                            <th align="center" style="width:15%">Cohort</th>
                            <th align="center" style="width:25%">Hometown</th>
                            <th align="center" style="width:30%">Past Industry</th>
                            <th align="center" style="width:30%">Goal Industry</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td align="center"> {{ person.cohort}} </td>
                                <td align="center"> {{ person.hometown}} </td>
                                <td align="center"> {{ person.past_industry}} </td>
                                <td align="center"> {{ person.goal_industry}} </td>
                            </tr>
                    </tbody>
                </table>
        </div>

        <script>

            // Run script once DOM is loaded
            document.addEventListener('DOMContentLoaded', function() {

                // Check free response submission
                document.querySelector('#check').addEventListener('click', function(check) {

                    // Check Cohort
                    let cohort = document.querySelector('#cohort');
                    if (cohort.value.toUpperCase() === cohort.name.toUpperCase()) {
                        cohort.style.backgroundColor = '#7EC26E';
                    } else {
                        cohort.style.backgroundColor = '#EE5D3E';
                    }

                    // Check Hometown
                    let hometown = document.querySelector('#hometown');
                    if (hometown.value.toUpperCase() === hometown.name.toUpperCase()) {
                        hometown.style.backgroundColor = '#7EC26E';
                    } else {
                        hometown.style.backgroundColor = '#EE5D3E';
                    }

                    // Check Past Industry
                    let past = document.querySelector('#past');
                    if (past.value.toUpperCase() === past.name.toUpperCase()) {
                        past.style.backgroundColor = '#7EC26E';
                    } else {
                        past.style.backgroundColor = '#EE5D3E';
                    }

                    // Check Goal industry
                    let goal = document.querySelector('#goal');
                    if (goal.value.toUpperCase() === goal.name.toUpperCase()) {
                        goal.style.backgroundColor = '#7EC26E';
                    } else {
                        goal.style.backgroundColor = '#EE5D3E';
                    }
                });

                // Display the answer
                document.getElementById("AnswerButton").addEventListener("click", function(display) {
                   if (document.getElementById("AnswerTable").style.display === "none") {
                        document.getElementById("AnswerTable").style.display = "block";
                   } else {
                        document.getElementById("AnswerTable").style.display = "none";
                   }
                });

                // Refresh Quiz when user clicks on New Button
                document.getElementById("New").onclick = function () {
                location.href = "/quiz";
                };

                // Take user back to Network page when user licks on Done Button
                document.getElementById("Done").onclick = function () {
                location.href = "/";
                };

            });
        </script>

{% endblock %}

