{% extends "layout.html" %}

{% block title %}
   Network
{% endblock %}

{% block main %}


            <div class="jumbotron" style="background-color: #02093B; color: #537fbe;">
            <h1>Network</h1>
            </div>
                <table style="width: 100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Cohort</th>
                            <th>Hometown</th>
                            <th>Past Industry</th>
                            <th>Goal Industry</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in network %}
                            <tr>
                                <td> {{ row.name }} </td>
                                <td> {{ row.cohort }} </td>
                                <td> {{ row.hometown }} </td>
                                <td> {{ row.past_industry }} </td>
                                <td> {{ row.goal_industry }} </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

{% endblock %}